html {
  font-family: "Open Sans Condensed", sans-serif;
  font-family: Oswald, sans-serif;
}

span {
  display: block;
}

.firstline {
  background-color: #cec8e8;
}

.secondline {
  font-family: "Open Sans Condensed", sans-serif;
  background-color: #a6ded6;
}

h1 {
  border-radius: 8px;
}

p {
  border-radius: 8px;
}

.quote {
  font-family: Oswald, sans-serif;
}
